#=================================================
# Log4j configuration - Service module
#log4j.rootLogger=info,stdout,file,MM_SOCK, errorFilter 
log4j.rootLogger=info,file,MM_SOCK, errorFilter 

#stdout appender
log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern=%d{dd/MM/yyyy HH:mm:ss} %5p [%t] %c{1}: %m%n
log4j.appender.stdout.Threshold=INFO

# file appender Dailly
#log4j.appender.file=org.apache.log4j.DailyRollingFileAppender
#log4j.appender.file.File=../logs/log4j.log
#log4j.appender.file.DatePattern='.'yyyy-MM-dd
#log4j.appender.file.layout=org.apache.log4j.PatternLayout
#log4j.appender.file.layout.ConversionPattern=%d{dd/MM/yyyy HH:mm:ss} %5p [%t] %c{1}: %m%n
#log4j.appender.file.MaxFileSize=10MB
#log4j.appender.file.MaxBackupIndex=10

# file appender, auto delete old file
log4j.appender.file=org.apache.log4j.RollingFileAppender
log4j.appender.file.File=../logs/log4j.log
log4j.appender.file.MaxFileSize=1MB
log4j.appender.file.MaxBackupIndex=10
log4j.appender.file.layout=org.apache.log4j.PatternLayout
log4j.appender.file.layout.ConversionPattern=%d{dd/MM/yyyy HH:mm:ss} %5p [%t] %c{1}: %m%n

# Define appender MM_SOCK
log4j.appender.MM_SOCK=com.viettel.mmserver.log.appender.AdvanceSocketHubAppender
log4j.appender.MM_SOCK.port=33054

#Gioi han so ket noi tu client den Server de xem log
log4j.appender.MM_SOCK.maxConnection=20

#So luong cac doi tuong LoggingEvent luu trong queue cua Appender.
#5000 doi tuong LoggingEvent co dung luong tam 2M - 5M 
log4j.appender.MM_SOCK.maxQueue=5000

#So luong log offline
log4j.appender.MM_SOCK.offlineMaxQueue=100


log4j.appender.errorFilter=com.viettel.mmserver.log.appender.ErrorFilterJDBCAppender
log4j.appender.errorFilter.maxQueue=5000